.imgList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

.imgItem {
    width: calc((100% - 80px) / 5);
    height: 150px;
    overflow: hidden;
}

.imgList li {
    transition: scale 180ms ease-in-out;
}

.imgList li:hover {
    scale: 1.05;
}
