.img {
    object-fit: fill;
}

.description {
    width: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
}

.author {
    background-color: gray;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    animation: showAuthor 7s ease forwards;
}


.helper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    background-color: rgb(219, 207, 207);
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    color: white;
    padding: 15px;
    animation: showOn 2s ease forwards;
}

@keyframes showOn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes showAuthor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}